.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  z-index: 100;

  &.isOpen {
    pointer-events: all;
  }
}

.tray {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin: 0 auto;
  color: white;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.15s ease-out;

  &.isOpen {
    transform: translate3d(0, 0, 0);
    pointer-events: all;
    transition: transform 0.25s ease-out;
  }
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0 0;
  opacity: 0.8;
  transition: opacity 0.2s;
  cursor: pointer;
  font-size: 1.75rem;

  &:hover {
    opacity: 1;
  }
}
