.links {
  max-width: 18rem;
  width: 100%;
  display: flex;
  margin: 0.75rem auto 0;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.3s;

  &.isDisabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
